//  colors 
$main_color : #d52d3b;
$color_1    : #ffffff;
$color_2    : #d0a809;
$color_3    : #808080;
$color_4    : #bdbdbd;
$color_5    : #666666;
$color_6    : #000000;


// button
$height_btn:49px;

// font

$font_s  : 16px;
$font_b  : 700;