body {
  font-family: "Tajawal";
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  background-color: #fafafa;
}
figure{
  margin: 0;
}
.ul_gh {
  list-style : none;
  padding    : 0;
  margin     : 0;
}
.m_P_gh {
  padding : 0;
  margin  : 0;
}
.anc_gh {
  display: inline-block;
}
.anc_gh:hover {
  text-decoration: none;
}
.btn_gh {
  border          : none;
  padding         : 0;
  background-color: transparent;
  border          : none;
  display         : block;
  cursor          : pointer;
  outline         : none !important;
  transition      : 0.5s;
}
.d_flex {
  display         : flex;
  align-items     : center;
  justify-content : space-between;
}
.overlay {
  position        : fixed;
  display         : none;
  top             : 0;
  bottom          : 0;
  right           : 0;
  left            : 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index         : 99;
  overflow        : hidden;
  transition      : .5s ;
}
.over_{
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $main_color; 
}
  


@include xs{
  .container{
    padding-left: 30px;
    padding-right: 30px;
  }
}


.back_top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  position: fixed;
  bottom: 106px;
  right: 40px;
  opacity: 0;
  background-image: linear-gradient(to right,#262626,#262626,#ef495d,#d52d3b);
  background-size: 300%;
  visibility: hidden;
  transition: .5s;
  z-index: 80;
  @include xs{
    bottom: 20px;
    right: 12px;
  }
  &:hover {
    cursor: pointer;
    color: $color_1;
    background-position: 100%;

    &::after{
      color: $color_1;
    }
  }
  &::after{
    content: "";
    font-family: "line Awesome Free";
    font-weight: 900;
    font-size: 18px;
    color: $color_1;

  }
}

.back_top.show {
  opacity: 1;
  visibility: visible;
}
