.breadcrumb_{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
  color: $color_7;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 110px;
  p{
  margin-inline-start: 5px;
  }
  .anc_home{
    color: $color_7;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    transition: .5s;
    margin-inline-end: 5px;
    &:hover{
      color: $main_color;
    }
  }
}
.about_content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 100px;
  img{
    max-width: 100%;
  }
}
.about_title{
  text-align: start;
  font-size: 22px;
  font-weight: 700;
  color: $color_6;
  text-transform: capitalize;
}
.content_{
  p{
    padding-top: 40px;
    font-size: 16px;
    color: $color_6;
    font-weight: 400;
    text-align: justify;
    line-height: 1.8;

  }
}
.features_parant{
  background-image: linear-gradient( 45deg, rgb(239,73,93) 0%, rgb(213,45,59) 100%);
  padding:80px 0;
  margin-bottom: 100px;
}
.features{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.feature_item{
  background-color: $color_1;
  padding: 40px 50px 50px;
  text-align: center;
  border-radius: 10px;
  .icon_div{
    width: 58px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    img{
      max-width: 100%;
    }
  }
  h4{
  font-size: 18px;
  font-weight: 700;
  color: $color_6;
  margin-bottom: 15px;
  text-transform: capitalize;
  }
  p{
  font-size: 16px;
  font-weight: 400;
  color: $color_6;
  line-height: 1.5;

  }
}

// why_chose section
.why_chose{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px;
  margin-bottom: 135px;
  img{
    max-width: 100%;
  }
}
.left_item{
  text-align: start;
  padding-top: 10px;

  h4{
    font-weight: 500;
  }
  > strong{
    margin-bottom: 15px;
  }
  h4, > strong{
    font-size: 36px;
    color: $color_6;
  }
  p{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 25px;

  }
}
.why_group{
  strong{
    display: flex;
    align-items: center;
    color: $main_color;
    font-size: 16px;
    &::before{
      content: "ï™";
      font-family: "line Awesome Free";
      font-weight: 900;
      font-size: 24px;
      margin-inline-end: 15px;
      color: $main_color;

    }
  }
}

// Success_Partners
.Success_Partners_section{
  h3{
    font-size: 22px;
    font-weight: 700;
    color: $color_6;
    text-align: center;
    margin-bottom: 30px;
  }
}
.Success_Partners{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  margin-bottom: 110px;
}
.Partners_item{
  .Partners_img{
    width: 164px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img{
      transition: .5s;
      max-width: 100%;
      &:hover{
        transform: scale(.90);
      }
    }
  }
}

@include xs{
  .breadcrumb_ {
    margin-bottom: 40px;
  }
  .about_content{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .about_content{
    margin-bottom: 70px;
  }
  .content_{
    p{
      padding-top: 20px;
    }
  }
  .features_parant{
    padding: 60px 0;
  }
  .features{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .why_chose{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 80px;
  }
  .left_item{
    h4, > strong{
      font-size: 30px;
    }
  }
  .why_group{
    strong{
      align-items: flex-start;
      margin-bottom: 15px;
      &::before{
        margin-top: -5px;
        margin-inline-end:10px
      }
    }
  }
  .Success_Partners{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 60px;
  }
  .Partners_item{
    .Partners_img{
      width: auto;
    }
  }
}